@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="homeTitle">Canal De Denúncias</h1>
</div>

<div class="homeContainer">

    <div><img class="clientLogo" src="~/images/logotipo-fake.png" alt="img aqui" /></div>

<div style="align-items: center; align-content:center;" >
        <button  class="bnt-home">button2</button> <br />
        <button  class="bnt-home">button2</button>
</div>

</div>
