@model Projetos_App1.ViewModels.ComplaintViewModel


@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center" id="homeTitle">
    <h1>Canal De Denúncias</h1>
</div>

<div class="homeContainer">

    <div>
        <img class="clientLogo" src="~/images/logo.png" alt="logo" />
    </div>

    <div style="align-items: center; align-content:center;">

        <a asp-controller="Complaint" asp-action="InfoTypeComplaint" class="btn bnt-home1">REGISTAR DENÚNCIA  </a>
        <br />  <br />  <br />
        <a asp-controller="LoginComplaint" asp-action="Login" class="btn bnt-home1"> CONSULTAR DENÚNCIA </a>
    </div>

</div>








