@{
    ViewData["Title"] = "Home Page";
}

<div class="homeTitle">
    <h1>Canal De Denúncias</h1>
</div>

<div hidden class="homeContainer">

    <div>
        <img class="clientLogo" src="~/images/logo.png" alt="img aqui" />
    </div>

    <div style="align-items: center; align-content:center;">
        <button class="bnt-home1">REGISTAR DENÚNCIA</button> <br />
        <button class="bnt-home1 bnt-home2">CONSULTAR DENÚNCIA</button>
    </div>

</div>


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Complaints" asp-action="Index">Teste</a>
    </div>
</nav>
<section class="text-center">
    <h6>Canal de denúcias em conformidade com a nova lei de proteção de denunciantes Lei n.º 93/2021</h6>
</section>
