@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Canal De Denúncias</h1>
</div>

<div class="container-home">

<div ><img class="logoCliente" src="~/images/logotipo-de-empresa-fake.png" alt="img aqui" /></div>

<div style="border: 5px solid red">
        <button  class="bnt-inicial">button2</button> <br />
        <button  class="bnt-inicial">button2</button>
</div>

</div>
