@model Projetos_App1.Models.Complaint
@{
    Layout = null;
}

<style>

    body {
        font-family: Arial, sans-serif;
    }

    .pdf-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        text-align: center;
    }

</style>

<div class="pdf-container">



    <h1 style="color: rgba(26,51,94,255);">Informação da Denúncia:</h1>


    <p>Este é o seu código de acesso:</p>
    <h1>@Model.ComplaintId</h1>

    <br />

    <p>Este é a sua senha:</p>
    <h1>@Model.PassWord</h1>
    <br />

    <h1 style="color: red;">Não perca esta informação!</h1>

</div>



