@model Projetos_App1.Models.Complaint

<style>


</style>

<div class="text-center" id="homeTitle">
    <h1>A Sua Denúncia foi Submetida</h1>
</div>
<br />

<div class="text-center text-">
    <strong>
        <p class="text-danger" style="display:inline;">Importante: <p style="display:inline;" class="text-dark inline">Guarde a password e o código apresentados abaixo. Precisará destes <br /> para acompanhar o estado e situação da sua denúncia.</p></p>

    </strong>
</div>

<form>
    <div class="form-group">

        <div>
            <label>Código:</label>
            <br />
            <input style="outline:none;border: 0 none; width:94%;" type="text" id="identityId" value="@Model.ComplaintId" />
            <i style="padding-left: 20px;" id="copyId" class="fa-regular fa-copy"></i>
        </div>
        <hr />

        <br />

        <div class="password-container">
            <label>PassWord:</label>
            <br />
            <input  style="outline:none;border: 0 none; width:92%;" type="password" id="passwordId" value="@Model.PassWord" />
            <i id="togglePassword" class="fas fa-eye"></i>
            <i style="padding-left: 20px;" id="copyPass" class="fa-regular fa-copy"></i>
        </div>
    </div>

    @* <p>@Model.PassWord</p> *@
    <hr />

    <br />
    
    <div class="d-grid gap-2 col-5 mx-auto">
    <a asp-route-id="@Model.ComplaintId"  asp-controller="Complaint" asp-action="ShowPDF">
    <button class="btn bnt-home1" type="button">GUARDAR COMO PDF</button>
    </a>
    </div>




    <br />
    <div class="mb-4">
        <input type="email" style="outline:none;border: 0 none;" id="" placeholder="Email (opcional)">
    </div>

    <br />

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="checkboxId">
        <label class="form-check-label" for="exampleCheck1">Já Guardei o meu código e password da denúncia.</label>
    </div>

    <br />

    <div class="d-grid gap-2">
        <button id="buttonId" type="button" class="btn btn-secondary btn-lg btn-block align-content-center">FINALIZAR</button>
    </div>

</form>
<br />
<br />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />


<script>
    const togglePassword = document.querySelector("#togglePassword");//evento copiar id
    const password = document.querySelector("#passwordId");
    const identityId = document.querySelector("#identityId");
    var copyTextId = document.querySelector('#copyId');
    const copyPass = document.querySelector("#copyPass");

    // password.disabled = true;
    // identityId.disabled = true;

    copyTextId.addEventListener('click', function () {
        var copyTextId = document.querySelector('#identityId');
        copyTextId.select();
        document.execCommand('copy');


    });

    copyPass.addEventListener('click', function () {//evento copiar passWord
        var copyPass = document.querySelector('#passwordId');
        copyPass.select();

        document.execCommand('copy');

    });



    togglePassword.addEventListener("click", function () { // ocultar passWord
        const type = password.type === "password" ? "text" : "password";

        password.type = type;


        this.classList.toggle("fa-eye");
        this.classList.toggle("fa-eye-slash");
    });



    // document.getElementById("#buttonId").disabled = true;

    // document.getElementById("checkboxId").addEventListener("#checkboxId", function (event) {

    //     //busca conteúdo do input
    //     var conteudo = document.getElementById("checkboxId").value;

    //     //valida conteudo do input
    //     if (conteudo !== null && conteudo !== '') {
    //         //habilita o botão
    //         document.getElementById("buttonId").disabled = false;
    //     } else {
    //         //desabilita o botão se o conteúdo do input ficar em branco
    //         document.getElementById("buttonId").disabled = true;
    //     }
    // });





</script>