@model Projetos_App1.Models.Complaint

<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="text-center" id="homeTitle">
    <h1>A Sua Denúncia foi Submetida</h1>
</div>
<br />

<div class="text-center">
    <strong>
        <p class="text-danger" style="display:inline;">Importante: </p>
        <p style="display:inline;" class="text-dark inline">Guarde a password e o código apresentados abaixo. Precisará destes <br /> para acompanhar o estado e situação da sua denúncia.</p>
    </strong>
</div>

<form asp-action="CreateComplaint" asp-controller="Complaint" method="post">
    <div class="form-group">
        <div>
            <label>Código:</label>
            <br />
            <input style="outline:none;border: 0 none; width:94%;" type="text" id="identityId" name="ComplaintId" value="@Model.ComplaintId" readonly />
            <i style="padding-left: 20px; cursor:pointer;" id="copyId" class="fa-regular fa-copy"></i>
        </div>

        <hr />

        <br />

        <div class="password-container">
            <label>PassWord:</label>
            <br />
            <input style="outline:none;border: 0 none; width:92%; font: large;" type="password" id="passwordId" name="PassWord" value="@Model.PassWord" readonly />
            <i style="cursor:pointer;" id="togglePassword" class="fas fa-eye"></i>
            <i style="padding-left: 20px; cursor:pointer;" id="copyPass" class="fa-regular fa-copy"></i>
        </div>
    </div>

    <hr />
    <br />

  

    <div class="mb-4">
        <label for="InputEmail" class="form-label">Deseja enviar por email?</label>
        <br />
        <input name="Email" id="emailInput" type="email" style="outline:none; border: none;width:92%;" placeholder="Email (opcional)">
        <hr />
        <span id="error" asp-validation-for="@Model.Whistleblowing.Email" class="text-danger"></span>
        
    </div>


    <br />


    <div class="d-grid gap-2 col-5 mx-auto">
        <a asp-route-id="@Model.ComplaintId" asp-controller="Complaint" asp-action="ShowPDF" class="btn bnt-home1">
            <i class="fas fa-file-pdf"></i> GUARDAR COMO PDF
        </a>
    </div>




    <br />

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="checkboxId">
        <label class="form-check-label" for="checkboxId">Já Guardei o meu código e password da denúncia.</label>
    </div>

    <br />

    <div class="d-grid gap-2">
        <button id="buttonId" type="submit" class="btn btn-secondary btn-lg btn-block align-content-center">FINALIZAR</button>
    </div>
</form>
<br />
<br />

<section class="text-center">
     <h6>Canal de denúcias em conformidade com a nova lei de proteção de denunciantes Lei n.º 93/2021</h6>        
</section>

<script>

    // função para copiar campos
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#passwordId");
    const identityId = document.querySelector("#identityId");
    const copyTextId = document.querySelector('#copyId');
    const copyPass = document.querySelector("#copyPass");
    const checkbox = document.getElementById("checkboxId");
    const finalButton = document.getElementById("buttonId");

    finalButton.disabled = true;//desativava inicialmente

    copyTextId.addEventListener('click', function () {
        identityId.select();
        document.execCommand('copy');
        alert('Código copiado: ' + identityId.value);
    });

    copyPass.addEventListener('click', function () {
        password.type = 'text'; // Temporariamente mostra a senha
        password.select();
        document.execCommand('copy');
        password.type = 'password'; // Oculta a senha novamente
        alert('Senha copiada!');
    });

    //função para mostrar e ocultar password
    togglePassword.addEventListener("click", function () {
        const type = password.type === "password" ? "text" : "password";
        password.type = type;
        this.classList.toggle("fa-eye");
        this.classList.toggle("fa-eye-slash");
    });

    checkbox.addEventListener('change', function () {
        finalButton.disabled = !this.checked; // Habilita ou desabilita o botão com base no estado do checkbox
    });

    //função para validar email
    document.querySelector('input[type=email]').oninvalid = function () {

        // remove mensagens de erro antigas
        $("#error").html('');

        // reexecuta validação
        if (!this.validity.valid) {

            $("#error").html(
                'Fomato de email, inválido!'
            );
           
        }
    };
</script>
